.layoutBackground {
  background: white;
}
.container{
  min-width: 950px;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.layoutHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.content{
  margin: 24px 16px;
  overflow: initial;
  padding: 24px;
}